/* Fonts */

@font-face {
	font-family: 'Work Sans';
	src: url('fonts/WorkSans-Regular.eot');
	src: local('☺'), url('fonts/WorkSans-Regular.ttf') format('truetype'), url('fonts/WorkSans-Regular.svg') format('svg');
	font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('fonts/WorkSans-Bold.eot');
	src: local('☺'), url('fonts/WorkSans-Bold.ttf') format('truetype'), url('fonts/WorkSans-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('fonts/WorkSans-ExtraBold.eot');
	src: local('☺'), url('fonts/WorkSans-ExtraBold.ttf') format('truetype'), url('fonts/WorkSans-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

/*-------------------------------*/
/* ------------- TOC ----------- */
/*------------------------------*/
    #indice .units ul li {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    #indice .units ul li a:not(.delete) {
    padding: 15px 10px;
    }
    #indice .units ul li {
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 0px;
    background: WHITE;
    -moz-box-shadow: 8px 6px 8px #0000003b;
    -webkit-box-shadow: 8px 6px 8px #0000003b;
    box-shadow: 8px 6px 8px #0000003b;
    }
    #indice .units ul li.active:not(.disabled),
    body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
    #indice .units ul li:focus:not(.disabled) {
    background: #BC4D59;
    }
    body:not(.isTablet) #indice .units ul li:not(.disabled) a:hover .title,
    body:not(.isTablet) #indice .units ul li.active:not(.disabled) a .title {
    color: white;
    }
    .header.default {
    background: #BC4D59 !important;
    background: -moz-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%) !important;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,15,38,1)), color-stop(100%, rgba(186,30,74,1))) !important;
    background: -webkit-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%) !important;
    background: -o-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%) !important;
    background: linear-gradient(to right, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%) !important;
    }
    .header.default:after {
    content: "";
    background: url(images/logo_maristas_chile.png);
    padding: 64px;
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 30;
    background-position: center;
    position: absolute;
    right: 25px;
    bottom: -15px;
    }

    .unit-content .btn-primary, .btn-primary.disabled,
    .unit-content .btn-primary.disabled:hover,
    .unit-content .btn-primary.disabled:focus {
    background: white !important;
    }

/*----------------------------*/    
/* ------- General ---------- */
/*----------------------------*/    

    body.content_type_clase_maristaschile {
        font-size: 1.8rem;
        font-family: 'Work Sans', sans-serif;
    }

    body.content_type_clase_maristaschile #actividad .content img {
        padding: 5px;
    }


    .is_app.content_type_clase_maristaschile {
        padding-top: 0px;
    }

    .content_type_clase_maristaschile #actividad {
        margin-bottom: 0px;
        -webkit-transform: none;
        -webkit-transform-style: flat;
    }


    .content_type_clase_maristaschile #actividad .slide-concatenate {
        margin-top: 30px;
    }

    .content_type_clase_maristaschile #actividad .content .header .title img,
    .content_type_clase_maristaschile #actividad .content .header .chapter {
        display: none;
    }

    #indice .units ul li a .number,
    #indice .unit-content .header .number
    {
        visibility: hidden;
    }

    .content_type_clase_maristaschile #actividad .content .header {
        border: none;
        margin-bottom: 0;
        position: relative;
    }
    .content_type_clase_maristaschile #actividad .content .header:after {
        content: "";
        padding: 30px 82px;
        background-image: url(images/logo_maristas_chile.png);
        position: absolute;
        bottom: 0;
        background-size: contain;
        background-repeat: no-repeat;
        right: 19px;
    }

    .content_type_clase_maristaschile #actividad .content .header .title {
        padding: 45px 98px;
        -webkit-box-shadow: 0px 5px 6px #00000030;
        -moz-box-shadow: 0px 5px 6px #00000030;
        box-shadow: 0px 5px 6px #00000030;
        background: #BC4D59;
        background: -moz-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,15,38,1)), color-stop(100%, rgba(186,30,74,1)));
        background: -webkit-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
        background: -o-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
        background: -ms-linear-gradient(left, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
        background: linear-gradient(to right, rgba(150,15,38,1) 0%, rgba(186,30,74,1) 100%);
        margin: -40px 0 40px 0;
    }

    .content_type_clase_maristaschile #actividad .content .slide-concatenate .header .title {
        display: none;
    }

    .content_type_clase_maristaschile #actividad .content .header .title h3 {
        position: relative;
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
    }

    .content_type_clase_maristaschile #actividad .slide_content_type_1 .pregunta .texto_curso,
    .content_type_clase_maristaschile #actividad .texto_curso,
    .html-book {
        font-size: 1.8rem;
    }

    .texto_curso p:last-of-type {
        margin-bottom: 0px;
    }

    .content_type_clase_maristaschile #actividad .texto_curso li,
    .content_type_clase_maristaschile #actividad .workspace ul li li {
        margin-bottom: 10px;
    }

    #actividad .class_slide {
        padding: 40px 0 0;
    }

    #actividad .class_slide:last-of-type {
        padding-bottom: 0px;
    }

    #actividad .slide-concatenate .class_slide {
        padding-bottom: 20px;
    }

    #actividad .slide-concatenate:last-of-type .class_slide {
        padding-bottom: 100px;
    }

    .content_type_clase_maristaschile .slide_main {
        padding: 0 97px;
    }

    @media screen and (max-width: 480px) {
        .content_type_clase_maristaschile .slide_main {
            padding: 0 35px;
        }
    }

    .content_type_clase_maristaschile .slide_main input,
    .content_type_clase_maristaschile .slide_main .img-input-container {
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
                border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
    }

    .content_type_clase_maristaschile .slide_main input:focus,
    .content_type_clase_maristaschile .slide_main .img-input-container:focus {
        outline-width: 0px;
        outline-style: none;
        -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
        -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
    }

    .content_type_clase_maristaschile .slide_main input[disabled],
    .content_type_clase_maristaschile .slide_main input[readonly],
    fieldset[disabled] .content_type_clase_maristaschile .slide_main input,
    .content_type_clase_maristaschile .slide_main .img-input-container {
        cursor: not-allowed;
        background-color: #eee;
        opacity: 1;
    }

    .content_type_clase_maristaschile .slide_main .img-input-container input[readonly],
    .content_type_clase_maristaschile .slide_main .img-input-container input[disabled] {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .content_type_clase_maristaschile .slide_main input.respuesta_ok,
    .content_type_clase_maristaschile .slide_main .img-input-container.respuesta_ok {
        border-color: #57e900;
        background: #D1F3BD;
    }

    .content_type_clase_maristaschile .slide_main input.respuesta_ko,
    .content_type_clase_maristaschile .slide_main .img-input-container.respuesta_ko {
        border-color: #FF3626;
        background: #FFA49D;
    }

    .content_type_clase_maristaschile .slide_main input.solucion,
    .content_type_clase_maristaschile .slide_main .img-input-container.solucion {
        border-color: #00BDFF;
        background: #B6ECFF;
    }

    .zoom_flag_img {
        top: 15px;
        right: 15px;
    }
    /**/

/* Navbar */
    .navbar-bottom {
        background: #999999;
        padding-left: 100px;
        padding-right: 100px;
    }
    .logo-publisher {
        display: none;
    }

    @media only screen and (max-width: 640px) {
        .navbar-bottom {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .slider-indicators {
        padding-left: 0px;
        padding-right: 0px;
        white-space: nowrap;
    }
    .edit .slider-indicators {
        white-space: normal;
    }
    .slider-indicators li,
    .edit .slider-indicators li {
        background-color: #ffffff;
        color: #005840;
    }

    .slider-indicators .active,
    .edit .slider-indicators .active,
    .slider-indicators li:hover,
    .edit .slider-indicators .concat.active,
    .slider-indicators .active {
        background-color: #007FA3;
        color: #ffffff;
    }

    .edit .slider-indicators .concat.active:before {
        background-color: #007FA3;
    }

    #bottom-navigator {
        overflow: hidden;
        position: relative;
    }
    #bottom-navigator .slider-indicators {
        margin-left: auto;
        margin-right: auto;
    }
    #bottom-navigator .slider-indicators:after {
        content: '';
        display: table;
        clear: both;
    }
    #bottom-navigator li {
        width: 18px;
        height: 18px;
        margin: 2px 5px;
        background: #fff;
        color: transparent;
        line-height: 2.2rem;
        font-size: 1.8rem;
        font-weight: bold;
        text-indent: initial;
    }
    #bottom-navigator li:hover {
        background: #c7c7c7;
        color: transparent;
    }
    #bottom-navigator li.active {
        background: #646464;
        color: transparent;
    }
    #bottom-navigator.show_left:before {
        content: '\F053';
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        z-index: 100;
        color: #ffffff;
        top: 10px;
        height: 35px;
        line-height: 5.4rem;
        width: 20px;
        text-align: left;
        background: -webkit-gradient(linear, left top, right top, from(#132E4C), to(transparent));
        background: -webkit-linear-gradient(left, #132E4C, transparent);
        background: -moz-linear-gradient(left, #132E4C, transparent);
        background: -o-linear-gradient(left, #132E4C, transparent);
        background: linear-gradient(to right, #132E4C, transparent);
    }

    #bottom-navigator.show_right:after {
        content: '\F054';
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        color: #ffffff;
        top: 10px;
        height: 35px;
        line-height: 5.4rem;
        width: 20px;
        text-align: right;
        background: -webkit-gradient(linear, right top, left top, from(#132E4C), to(transparent));
        background: -webkit-linear-gradient(right, #132E4C, transparent);
        background: -moz-linear-gradient(right, #132E4C, transparent);
        background: -o-linear-gradient(right, #132E4C, transparent);
        background: linear-gradient(to left, #132E4C, transparent);
    }

/**/

/*--------------------------------*/
/* ----------- ESTILO ------------*/
/*--------------------------------*/

    /*TITULO 1*/
    .bck-title1 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: 'Work Sans', sans-serif;
    border: 0;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    color: #bc4d59;
    background: none;
    }

    /*TÍTULO 2*/
    .bck-title2 {
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: 700;
    text-shadow: none;
    border-bottom: 2px solid;
    border-color:#bc4d59 ;
    color: #bc4d59;
    font-size: 24px;
    margin-bottom: 5px;
    }


    /* Lists */
    /*Listas en ck-editor*/
    .cke_contents ol li:before{
    margin-left:0 !important;
    }

    .texto_curso ul li,
    .workspace ul li ul li,
    .cke_contents ul li {
    padding-left: 30px;
    }

    .texto_curso ul li:before,
    .workspace ul li ul li:before,
    .cke_contents ul li:before {
    width: 4px;
    height: 4px;
    background-color: #414141;
    }

    .content .bck-ol,
    .cke_contents .bck-ol,
    .content ol,
    .cke_contents ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: bck-li-counter;
    }

    .content .bck-ol li,
    .cke_contents .bck-ol li,
    .content ol li,
    .cke_contents ol li {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 16px;
    counter-increment: bck-li-counter;
    position: relative;
    line-height: inherit;
    }

    /*Lista 123 roja*/
    .content .bck-ol1 li,
    .cke_contents .bck-ol1 li {
    font-weight: 700;
    }

    .content ol li:before,
    .cke_contents ol li:before,
    .content .bck-ol1 li:before,
    .cke_contents .bck-ol1 li:before {
    content: counter(bck-li-counter)".";
    width: 35px;
    height: 24px;
    color: #BC4D59;
    text-align: center;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-left: -26px;
    margin-right: 3px;
    vertical-align: bottom;
    }

    /*LISTA abc roja*/

    .content .bck-ol2 li:before,
    .cke_contents .bck-ol2 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    color: #BC4D59;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: baseline;
    margin-left: -8px;
    text-align: right;
    background: none;
    }
    /*Lista 123 azul*/
    .content .bck-ol2 li,
    .cke_contents .bck-ol2 li {
    font-weight: 700;
    }

    .content .bck-ol2 li:before,
    .cke_contents .bck-ol2 li:before {
    content: counter(bck-li-counter)".";
    width: 35px;
    height: 24px;
    color: #126AAC;
    text-align: center;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-left: -26px;
    margin-right: 3px;
    vertical-align: bottom;
    }

    /*LISTA abc roja*/
    .content .bck-ol3 li:before,
    .cke_contents .bck-ol3 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    color: #BC4D59;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: baseline;
    margin-left: -8px;
    text-align: right;
    background: none;
    }

    /*LISTA abc azul*/
    .content .bck-ol3 li:before,
    .cke_contents .bck-ol3 li:before {
    content: counter(bck-li-counter, lower-alpha)".";
    color: #126AAC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: baseline;
    margin-left: -8px;
    text-align: right;
    background: none;
    }    

    /*LISTA DESORDENADA POR DEFECTO*/
    .texto_curso ul li:before, .workspace ul li ul li:before, .cke_contents ul li:before {
    width: 8px;
    height: 8px;
    background-color: #414141;
    margin-top: 9px;
    }

    .texto_curso  .bck-ul li:before, .workspace .bck-ul li:before, .cke_contents .bck-ul li:before {
        width: 8px;
        height: 8px;
        margin-top: 9px;
    }

    /*Lista desordenada 1 - Color automatico*/
    .texto_curso .bck-ul1 li:before, .workspace .bck-ul1 li:before, .cke_contents .bck-ul1 li:before {

        background-color: #BC4D59;
    }

    /*Lista desordenada 2 - Color blanco*/
    .texto_curso .bck-ul2 li:before, .workspace .bck-ul2 li:before, .cke_contents .bck-ul2 li:before {
        background-color: white;
    }

    /*CAJAS*/
    .bck-box {
    margin: 0px;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    padding: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }

    .bck-box .bck-content p:last-child {
    margin-bottom: 0;
    }
    /*Caja 1*/
    .bck-box.bck-box1 {
        border-left: 5px dotted #BC4D59;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        position: relative;
        padding-left: 25px;
        margin: 35px 0px;
    }
    .bck-box.bck-box1:before {
        content: "";
        background: #BC4D59;
        border-radius: 100%;
        position: absolute;
        top: -23px;
        height: 20px;
        width: 20px;
        left: -13px;
    }
    .bck-box.bck-box1:after {
        content: "";
        background: #BC4D59;
        border-radius: 100%;
        position: absolute;
        bottom: -23px;
        height: 20px;
        width: 20px;
        left: -13px;
    }
    .bck-box1 .bck-title {
    background: none;
    }
    .bck-box1 .bck-content {
    padding: 6px;
    }


    /* Caja 2 */
    .bck-box2 .bck-title {
    color: #BC4D59;
    font-weight: 700;
    }
    .bck-box.bck-box2 {
    -webkit-box-shadow: none;
    -moz-box-shadow: none ;
    box-shadow: none;
    padding: 6px 15px;
    text-align: center;
    background: #F6EDED;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 0;
    }


    /*ÉNFASIS*/
    .bck-enfasis-1 {
    color: #BC4D59;
    }
    .bck-enfasis-2 {
    color: #126AAC;
    }
    /*Enfasis 3 - Número circular*/
    .bck-enfasis-3 {
        background: #BC4D59;
        padding: 2px 12px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        color: white;
    }


    /*DESPLEGABLE*/
    .bck-dropdown-button {
        padding: 10px;
        background: #BC4D59;
        color: white;
        border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        cursor: pointer;
    }
    .bck-dropdown-icon>.fa {
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border-color: white;
        background: white;
        color: #BC4D59;
    }
    .bck-dropdown-titulo {
        font-weight: 600;
        font-size: 20px;
    }
    .bck-dropdown-content {
        background-color: white;
        border: 2px solid;
        border-color: #BC4D59;
        -moz-border-radius-topleft: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        border-bottom-right-radius: 5px;
    }

    /*FLIPBOX*/
    body:not(.edit) .front .bck-flipbox-title,
    body:not(.edit) .front .bck-flipbox-section {
        color: #BC4D59;
    }
    body:not(.edit) .bck-flipbox-face.front,
    body:not(.edit) .bck-flipbox-face.back {
        border-color: #BC4D59;
        -webkit-box-shadow: 5px 5px 8px #0000002e;
        -moz-box-shadow: 5px 5px 8px #0000002e;
        box-shadow: 5px 5px 8px #0000002e;
    }
    body:not(.edit) .bck-flipbox-face.back {
        background-color: #BC4D59;
    }

    /*POP-UP*/
    #actividad .info-button {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: white;
        background: #BC4D59;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
    }
    .info-popover .popover-title,
    .popover-template .popover-title {
        background: #BC4D59;
        color: white;
    }  
    .info-popover .popover-title:before,
    .popover-template .popover-title:before {
        color: white;
    }
    .fa-times:before {
        color: #ffffff;
    }
    .info-template.shown {
        width: 200px;
        background: white;
        border: 3px solid;
        border-right: none;
        border-color: #BC4D59;
    }
    .info-template .info-title {
        color: #BC4D59;
    }
    .info-template .info-icon {
        color: white;
        background: #BC4D59;
    }

    /*TABLA POR DEFECTO*/
    .content table:not(.rf-tablegrid) td,
    .content table:not(.rf-tablegrid) th {
     border: 3px solid #585858;
    padding: 10px;
    background: #ffffff;
    }

    .content table:not(.rf-tablegrid) {
    border: 1px solid #F37731;
    margin-bottom: 20px;
    }

    /*Celda 1*/
    body .content table:not(.rf-tablegrid) .bck-td-1 {
        background: #BC4D59;
        color: white;
    }

    /*Links*/
    a:hover, a:active, a:focus {
    color: #979797;
    }

    /* Icons */

    #actividad .player.audio,
     #actividad .player.video,
      #help-panel-content .player,
       #remote-alert-modal-rich .player {
        height: 28px !important;
        width: 28px;
        display: inline-block;
        background-color: #BC4D59;
        background-image: url(../../../images/shared/multimedia-icons.png);
        background-repeat: no-repeat;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin: 0 5px;
        vertical-align: bottom;
        background-position: -29px -1px;
    }

    #actividad .player:hover,
     #help-panel-content .player:hover,
      #remote-alert-modal-rich .player:hover {
        background-color: #ed1d41;
    }

    .item-container .icon:before {
    content: "";
    background-repeat: no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
            background-size: auto 100%;
    background-position: center center;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 54px;
    margin-top: -16px;
    }


    /* Forms */
    .content_type_clase_maristaschile .slide_main input,
    .content_type_clase_maristaschile .slide_main .img-input-container {
    border: 0;
    background: #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 4px #00000036;
    -moz-box-shadow: 3px 3px 4px #00000036;
    box-shadow: 3px 3px 4px #00000036;
    border: 2px solid #BC4D59;
    -moz-transition: padding 0.3s ease-in-out;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    padding: 10px 10px;
    }
    .shortanswer-container textarea:focus,
    .shortanswer-container input:focus,
    .shortanswer-container .preview:focus {
    border-color: #999999;
    -webkit-box-shadow: 0 0 4px #999999;
    -moz-box-shadow: 0 0 4px #999999;
    box-shadow: 0 0 4px #999999;
    }

    .content_type_clase_maristaschile .slide_main .fill-text .img-input-container {
    display: none;
    }

    .content_type_clase_maristaschile .slide_main input:focus,
    .content_type_clase_maristaschile .slide_main .img-input-container:focus {
    border-color: #999999;
    border-bottom: 5px solid #999999;
    padding: 15px 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
/**/

/*--------------------------------*/
/* ----------- SLIDES ------------*/
/*--------------------------------*/

    #actividad .workspace.multiple-choice .opcion,
    #actividad .workspace.matching .opciones .opcion:not(.ko):not(.ok),
    #actividad .workspace.ordenar .js-rank-item {
    border: 0;
    -moz-box-shadow: 7px 8px 13px 1px #00000029;
    -webkit-box-shadow: 7px 8px 13px 1px #00000029;
    box-shadow: 7px 8px 13px 1px #00000029;
    }

    #actividad .workspace.matching .opciones .opcion.emparejado.destino {
    border-width: 2px 2px 2px 0;
    }

    #actividad .workspace.matching .opciones .opcion.emparejado.origen {
    border-width: 2px 0 2px 2px;
    }

    #actividad .workspace.clasificar .clasificar_lista .classify-item {
    border: 0px solid #d8d8d8;
    }

    #actividad .workspace.clasificar .clasificar_conjuntos .conjunto .group-box {
    border: 0;
    -webkit-box-shadow: 1px 4px 10px #0000003d;
    -moz-box-shadow: 1px 4px 10px #0000003d;
    box-shadow: 1px 4px 10px #0000003d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 10px;
    }

    .fillblanks-draggable-wrapper .response {
    background: none;
    -webkit-box-shadow: 4px 5px 11px #00000045;
    -moz-box-shadow: 4px 5px 11px #00000045;
    box-shadow: 4px 5px 11px #00000045;
    margin: 7px 5px;
    }

    .fillblanks-draggable-wrapper .response .bck-i-fullscreen-wrapper {
    padding: 0;
    }

    body.content_type_clase_maristaschile #actividad .content .fillblanks-draggable-wrapper
    .response .bck-i-fullscreen,
    body.content_type_clase_maristaschile #actividad .content .fillblanks-draggable
    .img-input-container.imgFilled img {
    width: auto;
    height: 100px !important;
    padding: 0;
    }

    /*Plantilla Señalar respuesta*/
    #actividad .workspace.chooseblanks .inline-answer a {
    display: inline-block;
    vertical-align: top;
    /* border: 2px solid #cfcfcf; */
    padding: 3px 6px;
    margin: 0 2px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    box-shadow: 2px 5px 8px #0000005e;
    }

    /*Plantilla TEST*/
    #actividad .workspace.test .respuestas li {
    width: auto;
    display: block;
    vertical-align: top;
    -webkit-box-shadow: 3px 3px 7px 0px #00000030;
    -moz-box-shadow: 3px 3px 7px 0px #00000030;
    box-shadow: 3px 3px 7px 0px #00000030;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 20px 0;
    -moz-transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    padding: 0;
    }
    #actividad .workspace.test .respuestas li:hover {
    background: #e5e5e5;
    }
    .checkbox-option label.filter-label:before,
    .slides_averages #cont_checkSelfCorrect label:before,
    .slides_averages #cont_checkEvaluation label:before,
    .radio-option label.filter-label:before {
    filter: grayscale(1);
    }
    .checkbox-option input.filter-checkbox[type="checkbox"]+label.filter-label,
    .radio-option input.filter-radio[type="radio"]+label.filter-label {
        display: block;
        padding: 10px 25px;
    }

    /*BOTONERA*/
    .btn-danger, .btn-danger[disabled] {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #fc4237;
    color: #fc4237;
    background: white;
    font-weight: 700;
    }
    .btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #999999;
    color: #999999;
    background: white;
    font-weight: 700;
    }
    .btn-primary:not([disabled]):hover, .btn-primary:not([disabled]):focus, .btn-primary:not([disabled]):active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #999999;
    border-color: #999999;
    color: white
    }
    #actividad .content .review .attemps span {
    background-color: #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    }
    .btn-primary[disabled], .btn-primary[disabled]:focus {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    }
    .btn-solution, .btn-solution.disabled,
    .btn-solution[disabled], .btn-next, .btn-next.disabled,
    .btn-next[disabled] {
    color: #00bdff;
    background-color: white;
    border-color: #00bdff;
    border: 2px solid #00bdff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    }
    .btn-solution:hover,
    .btn-solution:focus,
    .btn-solution:active,
    .btn-next:hover, .btn-next:focus,
    .btn-next:active,
    .open .dropdown-toggle.btn-solution {
    color: #fff;
    background-color: #00bdff;
    border-color: transparent;
    }

    /*Plantilla cáculo*/
    
    .content .workspace.calculo table:not(.rf-tablegrid) td,
    .content .workspace.calculo table:not(.rf-tablegrid) th {
     border: 0;
    padding: 10px;
    background: none;
    }

    .content .workspace.calculo table:not(.rf-tablegrid) {
        border: 0;
        margin-bottom: 10px;
    }
    
/**/
/*----- UNITTAG -----------------*/
    /*TITULO 1*/
    .unittag_maristaschile_azul .bck-title1 {
        color: #126AAC;
    }
    /*TÍTULO 2*/
    .unittag_maristaschile_azul .bck-title2 {
        border-color:#126AAC ;
        color: #126AAC;
        }    

    /*Enfasis 3 - Número circular*/
    .unittag_maristaschile_azul .bck-enfasis-3 {
        background: #126AAC;
    }    

     /*Caja 1*/
     .unittag_maristaschile_azul .bck-box.bck-box1 {
        border-left: 5px dotted #126AAC;
    }   
    .unittag_maristaschile_azul .bck-box.bck-box1:before {

        background: #126AAC;
    }   
    .unittag_maristaschile_azul .bck-box.bck-box1:after {
        background: #126AAC;
    }  

    /* Caja 2 */
    .unittag_maristaschile_azul .bck-box2 .bck-title {
        color: #126AAC;
    }
    .unittag_maristaschile_azul .bck-box.bck-box2 {
        background: #EBEEF6;
    }   

    /*Lsita por defecto*/
        /*Lista 123 roja*/
    
        .content .unittag_maristaschile_azul ol li:before,
        .cke_contents .unittag_maristaschile_azul ol li:before {
        color: #126AAC;
        }
    
    /*DESPLEGABLE*/
    .unittag_maristaschile_azul .bck-dropdown-button {
        background: #126AAC;
    }  
    .unittag_maristaschile_azul .bck-dropdown-icon>.fa {
        color: #126AAC;
    }   
    .unittag_maristaschile_azul .bck-dropdown-content {
        border-color: #126AAC;
    }  
    
    /* Icons */
    .unittag_maristaschile_azul #actividad .player.audio,
    .unittag_maristaschile_azul #actividad .player.video,
    .unittag_maristaschile_azul #help-panel-content .player,
    .unittag_maristaschile_azul #remote-alert-modal-rich .player {

        background-color: #126AAC;
    }
    
        /* Forms */
    .content_type_clase_maristaschile.unittag_maristaschile_azul .slide_main input,
    .content_type_clase_maristaschile.unittag_maristaschile_azul .slide_main .img-input-container {
        background: #f6f6f6;
        border: 3px solid #126AAC;
        }
/**/

/*QUERIES*/
    /* Smartphones (portrait & landscape) */
    @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 480px) {
    .content_type_clase_maristaschile #actividad .content .header:after {
    display: none;
    }
    .content_type_clase_maristaschile #actividad .content .header .title {
        padding: 36px 10px 36px 35px;
    }
    #actividad .carousel-inner .item-container {
        padding-bottom: 67px;
    }
    }

/**/
